p {
   font-family: Georgia;
   color: black;
   }

body {
      background: lightblue;
  }

  h1 {
      text-align: center;
  }

  h2 {
      text-decoration: underline;
      background-color: blue;
      text-align: center;
  }
  img {
      border-radius: 50%;
      float: right;
      height: 200px;
      color: lightblue;
  }
